<div class="container">	
	<h2> 공급처 비율 </h2>

	<% var i = 0;
	   while(i < percentage.length) { %>
		<input type = "hidden" value = "<%=percentage[i].rate%>" class = "data" name = "rate">
		<input type = "hidden" value = "<%=percentage[i].supplier%>" class = "supplier" name = "supplier">
	<% i += 1 } %> 
	<canvas id="graph" width="600" height="600" style="background-color: aliceblue"></canvas>

	<script>
		let data = document.getElementsByClassName("data");
		let address = document.getElementsByClassName("supplier");
		let colors = ["blue", "magenta","green", "cyan",  "red", "black", "white"];
		let canvas = document.getElementById("graph");
		let context = canvas.getContext("2d");

		for(let i = 0; i < data.length; i++){
			context.font = "20px malgun gothic";
			context.fillStyle = colors[i];
			context.fillText(address[i].value + " | " + data[i].value + "%", 20, 20 + 20 * i);                    
        }


		let angle = 0;


		for(let i = 0; i < data.length; i++){
			context.fillStyle = colors[i];
			context.beginPath();
			context.moveTo(300, 300);
			context.arc(300, 300, 210, angle, angle + (Math.PI * 2 * (parseFloat(data[i].value)/100)));
			context.lineTo(300, 300);
			context.fill();
			
			angle += Math.PI * 2 * (parseFloat(data[i].value)/100);
			
		}	
	</script>

</div>

